{% extends "layout.html" %}

{% block body %}
<div class="col-lg-6">
    <div class="box-quote bg-gray-100">
            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Skill</th>
                        <th>   </th>
                        
                      </tr>
                    </thead>
                    {% for skill in skill  %}
                    <tbody>
                      <tr>
                        <td>{{ skill.skills }}</td>
                        <td><a href="{{ url_for('admin.delete_category', id=skill.id) }}">Delete</a></td>
                      </tr>
                    </tbody>
                    {% endfor %}
                </table>
    </div>
</div>
<form action="{{url_for('admin.add_category')}}" method="Post">
    <div class="col-lg-6">
        <div class="box-quote bg-gray-100">
            <div class="form-wrap">
                <input class="form-input" id="contact-name" type="text" name="skill"
                    data-constraints="@Required">
                <label class="form-label" for="contact-name">Add new Category/Skills:</label>
            </div>
        </div>
        <button class="button button-block button-secondary button-lg" type="submit">SUBMIT</button>
    </div>
</form>
{% endblock %}