{% extends "layout.html" %}

{% block body %}
       <!-- Services-->
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-30">
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Create Task</h5>
                      <p class="card-text">Create task for select Creatives to handle</p>
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">View Attendee</h5>
                      <p class="card-text">See those who accepted a task given to them to handle</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Add Winner</h5>
                      <p class="card-text">Add The selected winner to a competion</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Add Category</h5>
                      <p class="card-text">Add new skill set to the platform</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Write About the platform</h5>
                      <p class="card-text">Talk about the platform </p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Accept new creatives</h5>
                      <p class="card-text">Accept new creatives onto the platform</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
